.fourth-section
    padding: 92px 13.625%
    background-color: #fff
    background: url('../img/fourth_section_bg.jpg') no-repeat right 62px, white
    h4
        font: 48px Lato Black, sans-serif
        text-transform: uppercase
        span
            color: $orange
    p
        width: 29%
        font: 17px/30px Lato, sans-serif
        color: rgb(70, 70, 70)
        padding: 30px 0
    .read-more
        margin: 40px 0