.second-section
    background: url('../img/second_section_bg.jpg') no-repeat top right
    padding: 88px 0
    background-color: #fff

    p
        width: 25%
        padding: 40px 0
        margin-left: 218px
        font: 24px Lato Light
        color: black
        span
            font-family: Lato
    .read-more
        margin-left: 218px
        
    h2
        margin: 0 218px
        position: relative
        padding-bottom: 36px
        span
            color: orange
        &::after
            content: ""
            display: block
            width: 206px
            height: 8px
            position: absolute
            left: 0
            bottom: 0
            background-color: orange